<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hadIt.doorstep">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".chooser.WhoYouAreActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".admin.AdminSignupActivity" />
        <activity android:name=".admin.AdminLoginActivity" />
        <activity
            android:name=".ui.home.ViewProduct"
            android:parentActivityName=".HomePage" />
        <activity android:name=".ui.Admin.AddProduct" />
        <activity
            android:name="com.theartofdev.edmodo.cropper.CropImageActivity"
            android:theme="@style/Base.Theme.AppCompat" />
        <activity android:name=".ProfileActivity" />
        <activity android:name=".ManageOtp" />
        <activity android:name=".MobileVarificationActivity" />
        <activity android:name=".ui.Admin.ViewCategory" />
        <activity android:name=".ui.Admin.AddGrocery" />
        <activity android:name=".CategoryClass" />
        <activity android:name=".SearchActivity" />
        <activity
            android:name=".HomePage"
            android:label="@string/title_activity_home"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".SaveDetailsToFirestore"
            android:parentActivityName=".LoginActivity" />
        <activity android:name=".LoginActivity">

        </activity>

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-3940256099942544~3347511713" />
    </application>

</manifest>